<!DOCTYPE html>
<head >
    <title>WELCOME TO THE UNIVERSITY PREDICTION</title>
</head>
<body style="background-image: url(https://wallpaperaccess.com/full/2137313.jpg);">
   
    <h1 style="padding-left: 20%;font-size: xx-large;padding-top: 3%;">Envisioning Success: Predicting University Scores 
                  With Machine Learning</h1>
<div style="padding-left: 25%;padding-top: 3%;padding-right: 20%;">
    <p style="font-weight: bold;font-size: larger;color: white;">The project describes the importance of scoring universities and highlights
     the benefits of such a system. It mentions that university scores can help 
     prospective students make informed decisions, provide universities with feedback 
     for improvement, and impact funding and reputation. The project described involves
     a dataset with university characteristics, with the target variable being the university's
     "Score," which is predicted based on parameters like 
      quality of education, alumni employment, faculty quality, publications, influence, citations, and patents.
          The goal of the project is to create a web application for predicting university scores 
          to assist students in making educational choices.
    </p>
    <a href="index.html" style="padding-left: 30%;color:azure;"> CHECK UNIVERSITY SCORES</a>
</div>

</body>
